body {
	font-family: Lato;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	width: 100%;

}
// bootstrap reset (menu)
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
  margin-right: 90px;
}

.carousel-control .icon-left-open-biggly, .carousel-control .icon-right-open-biggly, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}

.carousel-control .icon-left-open-biggly, .carousel-control .icon-right-open-biggly, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control.right {
    right: 20px;
    left: auto;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.left {
    left: auto;
    background-image: none;
    background-repeat: repeat-x;
}

header {
  .dropdown-toggle {
    i {
      font-family: 'fontello';
      font-style: normal;
    }    
  }
  .logo {
  	font-family: NoeDisplay;
  }
}
.carousel {
	.demo-icon {
	    font-family: 'fontello';
	    top: 50%;
	    position: absolute;
	    margin-top: -50px;
	    font-size: 50px;		
	}	
	.carousel-caption {
	    text-align: left;
	    bottom: 0;
	    top: 50%;
	    margin-top: -10%;
		.first-h {
			font-style: italic;
			color: #A0D062;
			font-size: 58px;
			font-family: NoeDisplay; 
		}
		.second-h {
			color: #fff;
			font-size: 58px; 
			margin: 0 0 50px 0;
			font-family: NoeDisplay;
		}
		.sub {
			padding: 15px 0 0 0;
			font-size: 20px;
			color: rgba(255,255,255,.5);
			border-top: 7px solid rgba(255,255,255,.3);
			width: auto;
    		margin: 0 75px 0 0;
		}
		.sub_2 {
			padding: 10px 50px;
			background: #FCA500;
			text-align: center;
			width: auto;
			a {
				font-size: 20px;
				color: #fff;
			}
		}
	}
}

section.first {
	padding: 50px 0;
	.name {
		color: #000;
		font-size: 30px;
		font-weight: 600;
		padding: 20px 0;
	}
	.sub-name {
		font-size: 15px;
	}
}
section.second {
	background-image: url(../img/support.png); 
	height: 170px;
	width: 100%;
	background-size: cover;
	padding: 45px 0;
	.tit {
		color: #fff;
		font-size: 25px;
	}
	.sub {
		color: #A9DF7F;
		font-size: 28px;
	}
	.sub_1 {
		color: #C69E2F;
		font-size: 28px;
	}
}